table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
  
th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}
  
th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}
  
tr {
    background-color: #f9f9f9;
}

@media (max-width: 600px) {
  table {
    display: none;
  }
}